$nav-color: #066EB3;
$header-color: #0AA6E1;
$header-height: 240px;
$page-height: 4 * $header-height;

.circles {
    display: flex;
    justify-content: space-around;
    .circle-stats {
        display: block;
        text-align: center;
        $circle-radius: 40px;
        $stroke-width: 7px;
        $stroke-length: 2 * 3.14159 * $circle-radius;
        .circle {
            transform: rotate(-90deg);
            .inner1 {
                stroke: lightgray;
                stroke-width: $stroke-width;
                fill: white;
            }
            .inner2 {
                stroke: $header-color;
                stroke-width: $stroke-width;
                fill: none;
            }
        }
    }
}

body {
    font-family: "Open Sans";
    font-weight: 200;
    margin: 0;
}


.title {
    color: 0.8 * $header-color;
}

.nav {
    height: 0.25 * $header-height;
    background-color: $nav-color;
    border-bottom: 3px solid $nav-color;
    display: flex;
    align-items: center;
    ul {
        display: flex;
        align-items: center;
        margin: 0;
        list-style-type: none;
        li {
            color: white;
            display: flex;
            align-items: center;
            margin: 10px;
            padding: 0 8px;
            height: $header-height / 4;
            border-bottom: 5px solid $nav-color;
        }
        li:hover {
            cursor: pointer;
            border-bottom-color: white;
            background-color: 1.2 * $nav-color;
        }
    }
}

.header {
    height: $header-height;
    background-color: $header-color;
    display: flex;
    .left {
        display: flex;
        align-items: center;
        height: 100%;
        width: 50%;
        .name {
            color: white;
            font-size: 4.0em;
            margin-left: 22%;
            .job {
                font-size: 0.60em;
            }
        }
    }
    .right {
        height: 100%;
        width: 50%;
        img {
            height: 100%;
        }
    }
}

.page {
    height: $page-height;
    display: flex;
    .left {
        width: 35%;
        height: 100%;
        border-right: 4px solid gray;
        padding: 40px;
        .left-side {
            border-bottom: 2px solid black;
            padding: 8% 0 8% 0;
            margin: 0 10% 0 30%;
            display: block;
            .personal {
                td, th {
                    text-align: left;
                    padding: 0 25px 12px 0;
                }
            }
            .stats {
                td, th {
                    text-align: left;
                    padding: 0 25px 12px 0;
                }
                td {
                    height: 50%;
                    padding: 0;
                    margin: 0;
                    width: 100%;
                    .statsbar {
                        width: 100%;
                        height: 10px;
                        background-color: lightgray;
                        .statsbar {
                            background-color: $header-color;
                        }
                    }
                }
            }
        }
    }
    .right {
        width: 65%;
        height: 100%;
        padding: 40px;
    }
}

#resumeDiv {
    display: none;
}

#portfolioDiv {
    display: none;
}

.footer1 {
    height: 0.7 * $header-height;
    background-color: $header-color;
    padding: 0 20% 0 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .circle {
            background-color: 1.1 * $nav-color;
            height: 80px;
            width: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            img {
            width: 88px;
            }
        }
    }
    .circle:hover {
        cursor: pointer;
        background-color: lightgray;
    }
}

.footer2 {
    color: black;
    height: 0.25 * $header-height;
    background-color: $nav-color;
    display: flex;
    align-items: center;
    justify-content: space-around;
}