.circles {
  display: flex;
  justify-content: space-around; }
  .circles .circle-stats {
    display: block;
    text-align: center; }
    .circles .circle-stats .circle {
      transform: rotate(-90deg); }
      .circles .circle-stats .circle .inner1 {
        stroke: lightgray;
        stroke-width: 20px;
        fill: white; }
      .circles .circle-stats .circle .inner2 {
        stroke: #0AA6E1;
        stroke-width: 20px;
        fill: none; }

body {
  font-family: "Open Sans";
  font-weight: 200;
  margin: 0; }

.title {
  font-size: 1.5em;
  color: #0885b4; }

.nav {
  height: 60px;
  background-color: #066EB3;
  border-bottom: 3px solid #066EB3;
  display: flex;
  align-items: center; }
  .nav ul {
    display: flex;
    align-items: center;
    margin: 0;
    list-style-type: none; }
    .nav ul li {
      color: white;
      display: flex;
      align-items: center;
      margin: 10px;
      padding: 0 8px;
      height: 60px;
      border-bottom: 5px solid #066EB3; }
    .nav ul li:hover {
      cursor: pointer;
      border-bottom-color: white;
      background-color: #0784d7; }

.header {
  height: 240px;
  background-color: #0AA6E1;
  display: flex; }
  .header .left {
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%; }
    .header .left .name {
      color: white;
      font-size: 4.0em;
      margin-left: 22%; }
      .header .left .name .job {
        font-size: 0.60em; }
  .header .right {
    height: 100%;
    width: 50%; }
    .header .right img {
      height: 100%; }

.page {
  height: 720px;
  display: flex; }
  .page .left {
    width: 35%;
    height: 100%;
    border-right: 4px solid gray;
    padding: 40px 0 40px 40px;
    z-index: -1; }
    .page .left .left-side {
      border-bottom: 2px solid gray;
      padding: 8% 0 8% 0;
      margin: 0 10% 0 20%;
      display: block; }
      .page .left .left-side .personal td, .page .left .left-side .personal th {
        text-align: left;
        padding: 0 25px 12px 0; }
      .page .left .left-side .stats td, .page .left .left-side .stats th {
        text-align: left;
        padding: 0 25px 12px 0; }
      .page .left .left-side .stats td {
        height: 50%;
        padding: 0;
        margin: 0;
        width: 100%; }
        .page .left .left-side .stats td .statsbar {
          width: 100%;
          height: 10px;
          background-color: lightgray; }
          .page .left .left-side .stats td .statsbar .statsbar {
            background-color: #0AA6E1; }
  .page .right {
    width: 65%;
    height: 100%;
    padding: 40px; }
    .page .right .education {
      padding: 20px 0px 20px 0px; }
      .page .right .education table {
        width: 100%; }
        .page .right .education table tr td {
          padding: 5px 0 0 5px; }
        .page .right .education table tr th {
          padding: 12px 0 5px 0;
          float: left; }
        .page .right .education table tr th:nth-last-child(1) {
          float: right; }
        .page .right .education table tr:nth-last-child(1) td {
          border-bottom: 2px solid gray;
          padding: 5px 0 18px 5px; }

#resumeDiv {
  display: none; }

#portfolioDiv {
  display: none; }

.footer1 {
  height: 168px;
  background-color: #0AA6E1;
  padding: 0 20% 0 20%;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .footer1 .link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .footer1 .link .circle {
      background-color: #0779c5;
      height: 80px;
      width: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%; }
      .footer1 .link .circle img {
        width: 88px; }
  .footer1 .circle:hover {
    cursor: pointer;
    background-color: lightgray; }

.footer2 {
  color: black;
  height: 60px;
  background-color: #066EB3;
  display: flex;
  align-items: center;
  justify-content: space-around; }

/*# sourceMappingURL=styles.css.map */
